obj
bin
_ReSharper.*
TestResults
*.user
*.docstates
*.suo
*.vssscc
*.vspscc
*.swp
*.bin
*.orig
*.nupkg
nuget/lib/*
TestResults
packages
PublishFiles/version.txt
PublishFiles/temp.proj
src/ExtendHealth.Karl.Web/ExtractedPlugins
Publish
deploy
.bundle
Build
EHBuild
TestResults.xml
*.swo
Generated_Code
*.xap
*.esent
Logs
tempIIS.config
*.ncrunchsolution
.vs
